*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(270deg, #153677, #4e058f);
    padding: 10px;
    color: black;
}

.hero{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.main-text{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.main-text h2{
    color: #002765;
    font-size: 1.9em;
    font-weight: 600;
}
.main-text img{
    width: 50px;
    margin-left: 10px;
}
#input-box{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20 10px;
    font-size: 16px;
    color: #777;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;

}
input{
    flex: 4;
    height: 35px;
    border-radius: 10px;
    border: 1px solid orange;
    padding: 5px;
    margin-right: 10px;
}
#add-task{
    font-size: 1.2rem;
    padding: 5px;
    flex: 0.3;
    background-color: #fff;
    color: #ffc107;
    border: #ffc107 solid 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .45 ease;
}
#add-task:hover{
    background-color: #ffc107;
    color: #fff;
    transform: scale(1.1);
}
.task{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task li{
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    margin-right: 10px;
    cursor: pointer;
    flex: 4;
    border: #002765 0.5px solid;
    border-radius: 10px;
    padding: 7px;
}
.task button{
    flex: 0.5;
    gap: 5px;
    border-radius: 10px;
    background-color: #fff;

}
.task .checkTask{
    color: green;
    margin-right: 5px;
    cursor: pointer;
    border: orange solid 1px;
    font-size: 1.2rem;
    padding: 5px;
    transition: all .45 ease;
}
.task .deleteTask{
    color: red;
    margin-right: 5px;
    cursor: pointer;
    border: orange solid 1px;
    font-size: 1.2rem;
    transition: all .45s ease;
}
.task .checkTask:hover{
    background-color: #ffc107;
    color: #fff;
    transform: scale(1.1);

}
.task .deleteTask:hover{
    background-color: #fff;
    color: red;
    transform: scale(1.1);
}

@media only screen and (max-width: 980px){
    .logo h1{
        font-size: 2rem;
        letter-spacing: normal;
    }
    #btn-1, #btn-2{
        padding: 8px;
    }
}
